<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input required email name="email" ngModel #emailInput="ngModel" placeholder="E-Mail" matInput type="email">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required name="password" ngModel #passwordInput="ngModel" placeholder="Password" matInput type="password">
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>

    </mat-form-field>
    <button *ngIf="!isLoading" color="warn" mat-raised-button type="submit">Signup</button>

  </form>
</mat-card>




